<!DOCTYPE>

<html>
	

	<head>
	</head>




	<body>
		<form type="GET" action="/letters">
		<input type="submit">
		</form>

		<form method="POST" action="/letters">
		
		<h1>Enter the name</h1>
		<input type="text" name ="name">

		<h1>Enter the address</h1>
		<input type="text" name="address">

		<h1>Enter the date</h1>
		<input type="text" name="date">

		<h1>Enter the letter</h1>
		<input type="text" name="note">

		<input type="submit">

		</form>


	</body>



</html>