<!DOCTYPE html>
<html>
<head>
  <title>BbqApp</title>
  
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>

</head>
<body>
<h4>This will be on every page that uses this layousflkdjfldsk</h4>
<%= yield %>

</body>
</html>
