<html>
	<body>
		<h1>Create a New Wine</h1>

		<form method="POST" action="/wines">
			<input type="text" name="studentName" placeholder="enter your name"></br>
			<input type="text" name="faveWine" placeholder="enter your fave wine"></br>
			<input type="text" name="type" placeholder="enter type"></br>
			<input type="submit" value="Create Wine"/>
		</form>
	</body>
</html>
