<form method="GET" action="/login_action">
  <input type="text" name="codename" />
  <input type="text" name="password" />
  <button>Submit</button>
</form>

<a href="/users/new">Don't have an account? Create one here</a>