<!DOCTYPE>
<html>
  <head>
    <!-- <link rel = "stylesheet" type = "text/css" href = "/css/styles.css"> -->
  </head>
  <body>
    <div>
    <header>
      <h1>Add an Item</h1>
    </header>
    <!-- <div class="lines"></div> -->
    <form class = "list" method = "post" action = "/items" >
        <div class = "fields">
          <label>Item Name</label>
          <input type = "text" name = "name"><br />
          <label>Cattergory</label>
          <input type = "text" name = "category"><br />
          <button class = "create-button">Create</button>
        </div>
    </form>
    </div>
  </body>
</html>