<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <h1> Have a hot new affair </h1>

  <%= form_for @affair do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %> </br>
    <%= f.text_field :location, placeholder: 'Location' %> </br>
    <%= f.submit %>
  <% end %>

  <h2> Have a hot affair with a traditional form </h2>

  <form method="POST" action="/affairs">
    affair name
    <input type="text" name="name">
    affair locaiton
    <input type="text" name="location">
    <input type="submit">
  </form>
  
</body>
</html>