
<div class="main-container">
    <div class="header">
        <div class="penguins">
            <form class="penguinform">
                <input name="penguin-name" type="text" placeholder="Name this penguin">
            </form>
        </div>
    </div>
    <div class="penguin-list-div">
        <ul class="penguin-list"></ul>
    </div>
</div>
