<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ashley Madison</title>
</head>
<body>

  <h1> Welcome to Ashley Madison, you degenerate bastard. </h1>
  
  <a href="/sessions/new"> log in </a>
  </br>
  <a href="/users/new"> sign up! </a>
</body>
</html>