body {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Caudeux, Georgia, serif;

}

a {
  color: #888;
  font-style: italic;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
}

.image  {
  padding: 1em;
}

.social-icons {
  list-style: none;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  margin: .6em;
  color: #888;
}
.social-icons li:hover {
  color: #000;
}

.header-box {
  border: 1px solid #000;
  width: 85%;
  margin: 5em auto 7em;
}

.header-box h1 {
  font-weight: normal;
  font-size: 5.5em;
  margin: 0.3em 0 0.2em 0;
}

nav {
  font-size: 1.2em;
  margin: 0em 0 1.5em;
}

.description {
  margin: 1em 0;
}

.description h4, p {
  font-weight: normal;
  line-height: 1em;
  margin: 0.25em;
}

.description h4 {
 font-size: 1.25em;
 color: #555;
}
.description p {
  font-size: 1em;
  font-style: italic;
  color: #888;  
}
