<ul id="debt-list">
  
</ul>

<form id="new-debt-form">
  <label for="client-field">Client:</label>
  <input id="client-field" type="text" name="client">
  <label for="amount-field">Amount:</label>
  <input id="amount-field" type="text" name="amount">
  <button type="submit">Create Debt</button>
</form>