<!DOCTYPE html>

<html>
<head>
	<title></title>
</head>
<body>
	<h1>details</h1>
		<h1><%=@affair.name%></h1>
		<h2><%=@affair.location%></h2>

		<%= link_to "edit affair path" edit_affair_path %>
		<%= link_to "delete affair path" delete_affair_path %>
</body>
</html>