<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <% @ducks.each do |duck| %>

    <h1> <%= duck %> </h1>
    
  <% end %>
  
</body>
</html>